Django==1.7.1
# flup==1.0.2 # For FCGI?

# Bare minimum
django-cms>=3.0

# These dependencies are brought in by django CMS, but if you want to
# lock-in their version, specify them
# Django>=1.7

django-mptt==0.6.1
django-sekizai==0.7
django-classy-tags==0.5
djangocms-admin-style==0.2.2
html5lib==0.999
six==1.3.0

# Optional, recommended packages
Pillow>=2
django-filer==0.9.8
cmsplugin-filer==0.10.1
django-reversion==1.8


###  For zinnia ###
# django-mptt >= 0.5.1 # above

#django-tagging >= 0.3.4
django-tagging

#django-contrib-comments >= 1.5
django-contrib-comments

#beautifulsoup4 >= 4.1.3
beautifulsoup4

# The packages below are optionnal but needed for run the full test suite or migrate the database.

pytz
#pyparsing >= 2.0.1
pyparsing
#django-xmlrpc >= 0.1.5

--allow-external django-xmlrcp

django-blog-zinnia
